<div id="olcutablosu" class="clearfix">
	<a class="kapatdgm" href="#"></a>
	<h2>ÖlçÜ tablosu</h2>
	<p></p>
	<div id="tabloicerik">
		<table>
			<thead>
				<tr>
					<th class="ab"></th>
					<th>3/6 aylık</th>
					<th>6/12 aylık</th>
					<th>12/18 aylık</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="ab">çocuĞun Boyu</td>
					<td>60-67 cm</td>
					<td>68-74 cm</td>
					<td>75-81 cm</td>
				</tr>
				<tr>
					<td class="ab">A/B uzunlukları</td>
					<td>60-67 cm</td>
					<td>68-74 cm</td>
					<td>75-81 cm</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>