<aside id="sepetbilgi" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	<div class="miktar">
		<span>Mİktar</span>
		<input type="text" id="miktar" value="1">
	</div>
	<span class="x">X</span>
	<span class="fiyat" itemprop="price">16.00 TL</span>
	<div class="sepet">
		<a href="/nl/checkout/stap1.html" title="Sepet" class="ekle">Sepete Ekle</a>
	</div>
</aside>